In [1]:
import pandas as pd
import numpy as np

In [118]:
import warnings
warnings.filterwarnings("ignore")

In [8]:
df_health = pd.read_csv('saude_do_sono_estilo_vida.csv')

# Python para Dados - Desafio Final

Você é uma pesquisadora que está tentando entender melhor qual o impacto do estilo de vida de uma pessoa na sua qualidade de sono, por isso fez a cleta dos dados de sobre 373 pessoas, onde foram recolhidas 12
características para cada uma delas. Por competência a sua pesquisa foi bem
controlada e você não tem dados faltosos na sua base. Chegou o momento
de você fazer sua análise e responder algumas perguntas.

* 1. Ao visualizar a base você percebeu que seria melhor alterar o nome de algumas colunas. Mude o ‘ID’ para ‘Identificador’, corrija o nome da coluna que indica a pressão sanguínea, mude a coluna ‘Ocupação’ para ‘Profissão’, a coluna ‘Categoria BMI’ está em parte em inglês, substitua para ‘Categoria IMC’.
* 2. Qual é a média, a moda e a mediana de horas de sono para cada uma das profissões? [‘mean’, np.median, pd.Series.mod]
* 3. Das pessoas que atuam com engenharia de software qual a
porcentagem de obesos?
* 4. De acordo com os dados, advogar ou ser representante de vendas faz você dormir menos? (Use o método ‘isin’, considere a média)
* 5. Entre quem fez enfermagem e quem fez medicina, quem tem menos
horas de sono? (Use o método ‘isin’, considere a média)
* 6. Faça um subconjunto com as colunas Identificador, Gênero, Idade,
Pressão sanguínea e Frequência cardíaca.
* 7. Descubra qual a profissão menos frequente no conjunto. (Use
value_counts)
* 8. Quem tem maior pressão sanguínea média, homens ou mulheres?
(Considere a média)
* 9. É predominante entre os participantes dormir 8 horas por dia
(considere usar Moda como medida)?
* 10. Pessoas com frequências cardíacas acima de 70 dão mais passos que pessoas com frequência cardíaca menor ou igual a 70? (Use a média)

### #1

In [9]:
df_health.head(3)

,ID,Gênero,Idade,Ocupação,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria BMI,Pressão sanguíneaaaa,Frequência cardíaca,Passos diários,Distúrbio do sono
0,1,Homem,27,Eng. de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,Nenhuma
1,2,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
2,3,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma

In [10]:
df_health = df_health.rename(columns={
            'ID': 'Identificador',
            'Pressão sanguíneaaaa': 'Pressão sanguínea',
            'Ocupação': 'Profissão',
            'Categoria BMI': 'Categoria IMC'
})

In [11]:
df_health.head(3)

,Identificador,Gênero,Idade,Profissão,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria IMC,Pressão sanguínea,Frequência cardíaca,Passos diários,Distúrbio do sono
0,1,Homem,27,Eng. de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,Nenhuma
1,2,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
2,3,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma

### #2

In [12]:
df_health.head(2)

,Identificador,Gênero,Idade,Profissão,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria IMC,Pressão sanguínea,Frequência cardíaca,Passos diários,Distúrbio do sono
0,1,Homem,27,Eng. de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,Nenhuma
1,2,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma

In [13]:
# média

df_health.groupby('Profissão')['Duração do sono'].mean()

Profissão
Advogado(a)                7.410638
Cientista                  6.000000
Contador(a)                7.113514
Enfermeiro(a)              7.048611
Eng. de Software           6.750000
Engenheiro(a)              7.987302
Gerente                    6.900000
Médico(a)                  6.970423
Pessoa Vendendora          6.403125
Professor(a)               6.690000
Representante de Vendas    5.900000
Name: Duração do sono, dtype: float64

In [27]:
# moda

def moda(coluna):
    return coluna.mode()

In [28]:
df_health.groupby('Profissão')['Duração do sono'].agg(moda)

Profissão
Advogado(a)                       7.2
Cientista                  [5.8, 6.2]
Contador(a)                       7.2
Enfermeiro(a)                     6.1
Eng. de Software                  7.5
Engenheiro(a)                     8.4
Gerente                           6.9
Médico(a)                         6.0
Pessoa Vendendora                 6.5
Professor(a)                      6.6
Representante de Vendas           5.9
Name: Duração do sono, dtype: object

In [38]:
df_health['Duração do sono'][df_health['Profissão'] == 'Advogado(a)'].mode()

0    7.2
Name: Duração do sono, dtype: float64

In [32]:
# mediana

def mediana(coluna):
    return coluna.median()

In [33]:
df_health.groupby('Profissão')['Duração do sono'].agg(mediana)

Profissão
Advogado(a)                7.3
Cientista                  6.0
Contador(a)                7.2
Enfermeiro(a)              6.5
Eng. de Software           6.8
Engenheiro(a)              8.3
Gerente                    6.9
Médico(a)                  7.6
Pessoa Vendendora          6.4
Professor(a)               6.6
Representante de Vendas    5.9
Name: Duração do sono, dtype: float64

In [37]:
df_health['Duração do sono'][df_health['Profissão'] == 'Advogado(a)'].median()

7.3

### #3

In [41]:
df_health.head(10)

,Identificador,Gênero,Idade,Profissão,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria IMC,Pressão sanguínea,Frequência cardíaca,Passos diários,Distúrbio do sono
0,1,Homem,27,Eng. de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,Nenhuma
1,2,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
2,3,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
3,4,Homem,28,Representante de Vendas,5.9,4,30,8,Obesidade,140/90,85,3000,Apneia do sono
4,5,Homem,28,Representante de Vendas,5.9,4,30,8,Obesidade,140/90,85,3000,Apneia do sono
5,6,Homem,28,Eng. de Software,5.9,4,30,8,Obesidade,140/90,85,3000,Insônia
6,7,Homem,29,Professor(a),6.3,6,40,7,Obesidade,140/90,82,3500,Insônia
7,8,Homem,29,Médico(a),7.8,7,75,6,Normal,120/80,70,8000,Nenhuma
8,9,Homem,29,Médico(a),7.8,7,75,6,Normal,120/80,70,8000,Nenhuma
9,10,Homem,29,Médico(a),7.8,7,75,6,Normal,120/80,70,8000,Nenhuma

In [ ]:
df_health['Categoria IMC'].value_counts()

Normal         195
Sobrepeso      147
Peso normal     21
Obesidade       10
Name: Categoria IMC, dtype: int64

In [47]:
df_health['Profissão'].value_counts()

Enfermeiro(a)              72
Médico(a)                  71
Engenheiro(a)              63
Advogado(a)                47
Professor(a)               40
Contador(a)                37
Pessoa Vendendora          32
Eng. de Software            4
Cientista                   4
Representante de Vendas     2
Gerente                     1
Name: Profissão, dtype: int64

In [54]:
perc_obesos_eng = df_health['Identificador'].loc[(df_health['Profissão'] == 'Eng. de Software') & (df_health['Categoria IMC'] == 'Obesidade')].count()/df_health['Identificador'][df_health['Profissão'] == 'Eng. de Software'].count() * 100

In [56]:
print(f'O percentual de obesos dentre os profissionais de Engenharia de Software é de {perc_obesos_eng}%')

O percentual de obesos dentre os profissionais de Engenharia de Software é de 25.0%

### #4

In [57]:
df_health.head(5)

,Identificador,Gênero,Idade,Profissão,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria IMC,Pressão sanguínea,Frequência cardíaca,Passos diários,Distúrbio do sono
0,1,Homem,27,Eng. de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,Nenhuma
1,2,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
2,3,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
3,4,Homem,28,Representante de Vendas,5.9,4,30,8,Obesidade,140/90,85,3000,Apneia do sono
4,5,Homem,28,Representante de Vendas,5.9,4,30,8,Obesidade,140/90,85,3000,Apneia do sono

In [59]:
df_health['Qualidade do sono'].value_counts()

8    109
6    105
7     77
9     70
5      7
4      5
Name: Qualidade do sono, dtype: int64

In [87]:
df_sleep_quality = df_health[['Profissão','Duração do sono']][df_health['Profissão'].isin(['Advogado(a)','Representante de Vendas'])]
df_sleep_quality.head(5)

                   Profissão  Duração do sono
3    Representante de Vendas              5.9
4    Representante de Vendas              5.9
93               Advogado(a)              7.4
109              Advogado(a)              7.4
111              Advogado(a)              7.4

#### Com base nos dados ser Representante de Vendas faz você dormir menos

In [88]:
df_sleep_quality.groupby('Profissão')['Duração do sono'].mean()

Profissão
Advogado(a)                7.410638
Representante de Vendas    5.900000
Name: Duração do sono, dtype: float64

### #5

In [103]:
df_health_sleep_quality = df_health[['Profissão','Duração do sono']][df_health['Profissão'].isin(['Enfermeiro(a)','Médico(a)'])]
df_health_sleep_quality.head(15)

        Profissão  Duração do sono
1       Médico(a)              6.2
2       Médico(a)              6.2
7       Médico(a)              7.8
8       Médico(a)              7.8
9       Médico(a)              7.8
10      Médico(a)              6.1
11      Médico(a)              7.8
12      Médico(a)              6.1
13      Médico(a)              6.0
14      Médico(a)              6.0
15      Médico(a)              6.0
16  Enfermeiro(a)              6.5
17      Médico(a)              6.0
18  Enfermeiro(a)              6.5
19      Médico(a)              7.6

#### As duas profissões tem duração de sono parecidas, de acordo com os números os médicos possuem levemente menos horas de sono

In [105]:
df_health_sleep_quality.groupby('Profissão')['Duração do sono'].mean()

Profissão
Enfermeiro(a)    7.048611
Médico(a)        6.970423
Name: Duração do sono, dtype: float64

### #6

In [209]:
df_subconjunto = df_health[['Identificador', 'Gênero', 'Idade','Profissão','Pressão sanguínea','Frequência cardíaca']]
df_subconjunto.head(2)

,Identificador,Gênero,Idade,Profissão,Pressão sanguínea,Frequência cardíaca
0,1,Homem,27,Eng. de Software,126/83,77
1,2,Homem,28,Médico(a),125/80,75

### #7

#### A profissão menos frequente é a de Gerente

In [110]:
df_subconjunto['Profissão'].value_counts(ascending=True)

Gerente                     1
Representante de Vendas     2
Eng. de Software            4
Cientista                   4
Pessoa Vendendora          32
Contador(a)                37
Professor(a)               40
Advogado(a)                47
Engenheiro(a)              63
Médico(a)                  71
Enfermeiro(a)              72
Name: Profissão, dtype: int64

### #8

In [212]:
df_pressao = df_subconjunto

In [214]:
df_pressao[['Pressão sistólica','Pressão diastólica']] = df_pressao['Pressão sanguínea'].str.split('/', 1,expand=True)

In [215]:
df_pressao.head(5)

,Identificador,Gênero,Idade,Profissão,Pressão sanguínea,Frequência cardíaca,Pressão sistólica,Pressão diastólica
0,1,Homem,27,Eng. de Software,126/83,77,126,83
1,2,Homem,28,Médico(a),125/80,75,125,80
2,3,Homem,28,Médico(a),125/80,75,125,80
3,4,Homem,28,Representante de Vendas,140/90,85,140,90
4,5,Homem,28,Representante de Vendas,140/90,85,140,90

In [217]:
df_pressao['Pressão sanguínea'].dtypes

dtype('O')

In [224]:
df_pressao['Pressão sistólica'] = df_pressao['Pressão sistólica'].astype('int64')
df_pressao['Pressão diastólica'] = df_pressao['Pressão diastólica'].astype('int64')

In [226]:
df_pressao['Pressão sistólica'].dtypes

dtype('int64')

#### De acordo com os números em média as mulheres possuem maior pressão sanguínea isso se dá pelo fato do coração das mulheres serem menores e demandar maior trabalho do orgão

In [227]:
df_pressao.groupby('Gênero')[['Pressão sistólica','Pressão diastólica']].mean()

        Pressão sistólica  Pressão diastólica
Gênero
Homem          126.941799           83.015873
Mulher         130.146739           86.271739

### #9

In [236]:
df_health.head(3)

,Identificador,Gênero,Idade,Profissão,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria IMC,Pressão sanguínea,Frequência cardíaca,Passos diários,Distúrbio do sono
0,1,Homem,27,Eng. de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,Nenhuma
1,2,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
2,3,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma

In [237]:
df_health['Duração do sono'].mode()

0    7.2
Name: Duração do sono, dtype: float64

### #10

In [241]:
df_health.head(3)

,Identificador,Gênero,Idade,Profissão,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria IMC,Pressão sanguínea,Frequência cardíaca,Passos diários,Distúrbio do sono
0,1,Homem,27,Eng. de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,Nenhuma
1,2,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
2,3,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma

In [251]:
frequencia_maior = df_health['Passos diários'].loc[df_health['Frequência cardíaca'] >= 70].mean()

frequencia_menor = df_health['Passos diários'].loc[df_health['Frequência cardíaca'] < 70].mean()

#### Sim, pessoas com frequências cardíacas acima de 70 dão mais passos que pessoas com frequência cardíaca menor que 70

In [255]:
print(f'Pessoas com frequência cardíaca maior que 70 dão em média {frequencia_maior} passos diários')
print('\n')
print(f'Pessoas com frequência cardíaca menor que 70 dão em média {frequencia_menor} passos diários')

Pessoas com frequência cardíaca maior que 70 dão em média 7005.263157894737 passos diários


Pessoas com frequência cardíaca menor que 70 dão em média 6575.609756097561 passos diários